USE [master]
GO
/****** Object:  Database [RentalSBP]    Script Date: 08.12.2022 0:16:18 ******/
CREATE DATABASE [RentalSBP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentalSBP', FILENAME = N'D:\DB\MSSQL15.MSSQLSERVER\MSSQL\DATA\RentalSBP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentalSBP_log', FILENAME = N'D:\DB\MSSQL15.MSSQLSERVER\MSSQL\DATA\RentalSBP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentalSBP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentalSBP]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(45462596,1) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Patronymic] [nvarchar](max) NULL,
	[PassportData] [nvarchar](max) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emploees]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emploees](
	[Id] [int] NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Patronymic] [nvarchar](max) NULL,
	[E-mail] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Photo] [image] NULL,
	[id_JobTitle] [int] NULL,
 CONSTRAINT [PK_Emploees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitle](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobTitle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistory]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Employee] [int] NULL,
	[LoginDate] [datetime] NULL,
	[SuccessfulLogin] [bit] NULL,
	[Login] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoginHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(51,1) NOT NULL,
	[CodeOrder] [nvarchar](max) NULL,
	[DateCreate] [date] NULL,
	[TimeOrder] [time](0) NULL,
	[Id_Client] [int] NULL,
	[Id_OrderStatus] [int] NULL,
	[DateClosing] [date] NULL,
	[TimeRental] [float] NULL,
	[Id_Creator_Employee] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CodeServices] [nvarchar](max) NULL,
	[СostPerHour] [money] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicesOrder]    Script Date: 08.12.2022 0:16:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicesOrder](
	[Id] [int] IDENTITY(232,1) NOT NULL,
	[Id_Order] [int] NULL,
	[Id_Service] [int] NULL,
 CONSTRAINT [PK_ServicesOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [LastName], [Name], [Patronymic], [PassportData], [DateOfBirth], [Address], [Email], [Phone]) VALUES (0, N'Ниязов', N'Феликс', N'Дамирович', N'Серия 808080 Номер 12332', CAST(N'2003-07-07' AS Date), N'Пушкина д 6', N'niyazov@bk,ru', N'+7(123)-132-32-21')
INSERT [dbo].[Clients] ([Id], [LastName], [Name], [Patronymic], [PassportData], [DateOfBirth], [Address], [Email], [Phone]) VALUES (45462526, N'Фролов', N'Андрей', N'Иванович', N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'+7(951)139-76-00')
INSERT [dbo].[Clients] ([Id], [LastName], [Name], [Patronymic], [PassportData], [DateOfBirth], [Address], [Email], [Phone]) VALUES (45462527, N'Николаев', N'Даниил', N'Всеволодович', N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'+7(951)339-76-29')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
INSERT [dbo].[JobTitle] ([Id], [Name]) VALUES (1, N'Продавец')
INSERT [dbo].[JobTitle] ([Id], [Name]) VALUES (2, N'Старший смены')
INSERT [dbo].[JobTitle] ([Id], [Name]) VALUES (3, N'Администратор')
GO
SET IDENTITY_INSERT [dbo].[LoginHistory] ON 

INSERT [dbo].[LoginHistory] ([Id], [Id_Employee], [LoginDate], [SuccessfulLogin], [Login]) VALUES (1, 101, CAST(N'2022-12-06T23:40:23.947' AS DateTime), 0, N'Ivanov@namecomp.ru')
INSERT [dbo].[LoginHistory] ([Id], [Id_Employee], [LoginDate], [SuccessfulLogin], [Login]) VALUES (2, 101, CAST(N'2022-12-06T23:40:25.303' AS DateTime), 0, N'Ivanov@namecomp.ru')
INSERT [dbo].[LoginHistory] ([Id], [Id_Employee], [LoginDate], [SuccessfulLogin], [Login]) VALUES (3, 101, CAST(N'2022-12-06T23:40:44.330' AS DateTime), 1, N'Ivanov@namecomp.ru')
SET IDENTITY_INSERT [dbo].[LoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CodeOrder], [DateCreate], [TimeOrder], [Id_Client], [Id_OrderStatus], [DateClosing], [TimeRental], [Id_Creator_Employee]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12' AS Date), CAST(N'09:10:00' AS Time), 45462526, 1, NULL, 2, 101)
INSERT [dbo].[Orders] ([Id], [CodeOrder], [DateCreate], [TimeOrder], [Id_Client], [Id_OrderStatus], [DateClosing], [TimeRental], [Id_Creator_Employee]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, 2, NULL, 10, 108)
INSERT [dbo].[Orders] ([Id], [CodeOrder], [DateCreate], [TimeOrder], [Id_Client], [Id_OrderStatus], [DateClosing], [TimeRental], [Id_Creator_Employee]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, 2, NULL, 2, 102)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (1, N'Новая')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (2, N'В прокате')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (3, N'Закрыта')
GO
INSERT [dbo].[Services] ([Id], [Name], [CodeServices], [СostPerHour]) VALUES (31, N'Прокат набора защитного оборудования', N'JUR8R', 1000.0000)
INSERT [dbo].[Services] ([Id], [Name], [CodeServices], [СostPerHour]) VALUES (34, N'Прокат роликов', N'JKFBJ09', 1000.0000)
INSERT [dbo].[Services] ([Id], [Name], [CodeServices], [СostPerHour]) VALUES (44, N'Аренда лодки', N'DHBGFY563', 700.0000)
GO
SET IDENTITY_INSERT [dbo].[ServicesOrder] ON 

INSERT [dbo].[ServicesOrder] ([Id], [Id_Order], [Id_Service]) VALUES (1, 1, 34)
INSERT [dbo].[ServicesOrder] ([Id], [Id_Order], [Id_Service]) VALUES (2, 2, 98)
INSERT [dbo].[ServicesOrder] ([Id], [Id_Order], [Id_Service]) VALUES (3, 3, 92)
GO
SET IDENTITY_INSERT [dbo].[ServicesOrder] OFF
GO
ALTER TABLE [dbo].[Emploees]  WITH CHECK ADD  CONSTRAINT [FK_Emploees_JobTitle] FOREIGN KEY([id_JobTitle])
REFERENCES [dbo].[JobTitle] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Emploees] CHECK CONSTRAINT [FK_Emploees_JobTitle]
GO
ALTER TABLE [dbo].[LoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginHistory_Emploees] FOREIGN KEY([Id_Employee])
REFERENCES [dbo].[Emploees] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoginHistory] CHECK CONSTRAINT [FK_LoginHistory_Emploees]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([Id_Client])
REFERENCES [dbo].[Clients] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Emploees] FOREIGN KEY([Id_Creator_Employee])
REFERENCES [dbo].[Emploees] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Emploees]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatus] FOREIGN KEY([Id_OrderStatus])
REFERENCES [dbo].[OrderStatus] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[ServicesOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServicesOrder_Orders] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServicesOrder] CHECK CONSTRAINT [FK_ServicesOrder_Orders]
GO
ALTER TABLE [dbo].[ServicesOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServicesOrder_Services] FOREIGN KEY([Id_Service])
REFERENCES [dbo].[Services] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServicesOrder] CHECK CONSTRAINT [FK_ServicesOrder_Services]
GO
USE [master]
GO
